@use './mixins.sass'
@import './variables.sass'
.card-main
    display: flex
    flex-direction: column
    padding: 24px
    gap: 10px
    width: 75%
    height: fit-content
    min-height: 150px
    background: white
    border-radius: 16px
    margin: 0
    justify-content: flex-start
    position: relative




.card-title
    font-weight: 700
    font-size: 18px
    *
        margin-left: 5px

.card-info
    margin-left: 5px
    span
        margin-right: 10px
        font-size: 16px
        color: $n-gray
        *
            margin-right: 5px

.card-subheader
    font-size: 14px
    font-weight: 600
    margin-top: 1.5rem
    

.card-text
    padding: 0
    margin: 0
    width: 70%
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #374151


.respond-btn
    @include mixins.button-1
    font-weight: 600
    font-size: 14px
    line-height: 20px
    width: fit-content
    background: $bright-teal
    color: black
    padding: 10px 16px
    position: absolute
    bottom: 24px
    right: 24px
    cursor: pointer

.card-reward
    @include mixins.button-1
    border: solid 1px #ababab
    width: fit-content
    position: absolute
    top: 24px
    right: 24px
    font-weight: 600
    font-size: 14px
    line-height: 20px


@media (max-width: 480px) 
    .card-text
        width: 95%
        margin-bottom: 3.5rem
    .card-title
        max-width: 70%



