.card-main {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  width: 93%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 150px;
  background: white;
  border-radius: 16px;
  margin: 0;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

.disabled {
  opacity: 60% !important;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
}
.card-title * {
  margin-right: 5px;
}

.card-info {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  transform: translateY(-5px);
}
.card-info span {
  margin-right: 10px;
  font-size: 16px;
  color: #4A5567;
}
.card-info span svg {
  transform: translateY(3px);
}
.card-info span * {
  margin-right: 5px;
}

.card-subheader {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0.5rem;
}

.card-text {
  padding: 0;
  margin: 0;
  width: 90%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #374151;
  margin-bottom: 55px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
  position: relative;
  text-overflow: ellipsis;
  cursor: pointer;
}

.popup-card-text {
  max-height: 10rem;
  width: 95%;
  overflow: scroll;
  margin-bottom: 60px;
  padding-right: 20px;
  cursor: default !important;
  scrollbar-width: none;
}
.popup-card-text::-webkit-scrollbar {
  display: none;
}

.card-text-blur {
  width: 100%;
  height: 2.5rem;
  background: green;
  z-index: 10;
  position: absolute;
  bottom: 0;
  text-align: right;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5647058824) 20%, rgba(255, 255, 255, 0) 100%);
}

.card__actions-container {
  position: absolute;
  height: 40px;
  width: calc(100% - 48px);
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  align-items: center;
}

.respond-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  font-weight: 700;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #5EEAD4;
  color: black;
  padding: 10px 16px;
}
.respond-btn:hover {
  background: rgb(45, 212, 191);
}

.redact-btn {
  height: 40px;
  width: 40px;
  border-radius: 34px;
  background: #F3F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.redact-btn:hover {
  background: #e9ebed;
}

.card-reward {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  font-weight: 700;
  border: solid 1px #ababab;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 12px !important;
  position: absolute;
  top: 24px;
  right: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 480px) {
  .card-main {
    width: calc(100% - 16px);
  }
  .card-text {
    width: 95%;
  }
  .card-title {
    max-width: calc(100% - 150px);
  }
}/*# sourceMappingURL=Card.css.map */